<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BankBlaze</title>
    <link rel="stylesheet" href="/styles.css" />
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/SocketConfig.js"></script>
</head>
<body>
<button onclick="connect()">Connect</button>
<!--table class="queueCall">
    <thead>
    <tr>
        <th>Pult</th>
        <th>Sorszám</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="desk, iStat : ${desks}">
        <td th:text="'0' + ${desk.id}"></td>
        <td th:id="'queueNumber' + ${desk.id}" th:text="${desk.queueNumber.getNumber()}"></td>
    </tr>
    </tbody>
</table-->

<table class="queueCall">
    <thead>
    <tr>
        <th>Pult</th>
        <th>Sorszám</th>
    </tr>
    </thead>
    <tbody id="deskTable"></tbody>
</table>
</body>
</html>

// feliratkozni a websocket